[project]
name = "xdsl-smt"
version = "0.0.0"
dependencies = [
  "z3-solver==4.12.1.0",
  "xdsl @ git+https://git@github.com/xdslproject/xdsl@a517988cead01a4f4c893f83c403f111b30c2cd5",
]

[project.optional-dependencies]
dev = [
  "pyright==1.1.309",
  "lit<16.0.0",
  "pytest<8.0",
  "filecheck==0.0.23",
  "pre-commit==3.3.1",
]

[project.scripts]
xdsl-smt = "xdsl_smt.cli.xdsl_smt:main"
xdsl-tv = "xdsl_smt.cli.xdsl_tv:main"
xdsl-translate = "xdsl_smt.cli.xdsl_translate:main"
verifier = "xdsl_smt.cli.verifier:main"
verify-pdl = "xdsl_smt.cli.verify_pdl:main"

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pyright]
reportImportCycles = false
reportUnnecessaryIsInstance = false
typeCheckingMode = "strict"
include = ["xdsl_smt"]
ignore = [
  "xdsl_smt/utils/z3_to_dialect.py",
  "xdsl_smt/utils/integer_to_z3.py",
  "xdsl_smt/utils/lower_utils.py",
  "xdsl_smt/passes/calculate_smt.py",
  "xdsl_smt/passes/transfer_lower.py",
  "xdsl_smt/cli/xdsl_translate.py",
  "xdsl_smt/cli/verifier.py",
  "tests"
]
