name: CI - Pyright

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    env:
      PYRIGHT_VERSION: 1.0

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: |
          pip install --upgrade pip
      - name: Install the requirements (including pyright)
        run: pip install -r requirements.txt
      - name: Pyright
        uses: jakebailey/pyright-action@v1
